.admin-nav-card{
    margin-bottom: 10px;
}
body{
    display: flex;
    display: -webkit-flex; /* Safari */
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
}

#footer {
    margin-bottom: 0;
}